body {
  font-family: "Montserrat", sans-serif;
}

.site-header {
  position: absolute;
  top: 0;
  right: 300px;
  padding: 20px 0;
  z-index: 10;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.site-header nav {
  display: flex;
  gap: 40px;
}

.site-header nav a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  transition: 0.1s;
}

.site-header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: 0.2s;
}

.site-header nav a:hover::after {
  width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: 800px;
  background: url("../images/people.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  position: relative;
  text-align: center;
  color: #fff;
}

.hero-subtitle {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 400;
}

.hero-content h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: #4985ff;
  color: #fff;
  border-radius: 22px;
  font-size: 18px;
  text-decoration: none;
  transition: 0.25s;
}

.btn:hover {
  background: #1d23c6;
}
