body {
  font-family: "Montserrat", sans-serif;
}

.site-header {
  position: absolute;
  top: 0;
  right: 300px;
  padding: 20px 0;
  z-index: 10;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.site-header nav {
  display: flex;
  gap: 40px;
}

.site-header nav a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  transition: 0.1s;
}

.site-header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: 0.2s;
}

.site-header nav a:hover::after {
  width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: 800px;
  background: url("../images/people.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  position: relative;
  text-align: center;
  color: #fff;
}

.hero-subtitle {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 400;
}

.hero-content h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: #4985ff;
  color: #fff;
  border-radius: 22px;
  font-size: 18px;
  text-decoration: none;
  transition: 0.25s;
}

.btn:hover {
  background: #3566cc;
}

.mob-app {
  text-align: center; 
}
.main-text {
  color: #323232;
  text-align: center;
  padding: 30px;
}

.small-text {
  color: #999999;
}

.cards-section {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: 100px auto 0; 
}

.item {
  display: flex;
  align-items: center;
  width: 30%;
}

.icon-circle {
  position: relative; 
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  border: 2px solid #4985ff;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 20px;
  margin-top: -75px;
}


.icon-circle::before {
  content: "";
  position: absolute;
  top: -8px; 
  left: -8px;
  width: 76px; 
  height: 76px;
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  box-sizing: border-box;
}

.icon-circle img {
  width: 30px;
  height: 30px;
}

.text h3 {
  margin: 0 0 8px;
}

.text p {
  margin: 0;
}

.fish {
  color: #999999;
}

.cards-button {
  width: 100%;
  display: flex;
  justify-content: center; 
  margin-top: 60px; 
}

.cards-button button {
  padding: 10px 50px;
  background-color: #4985ff;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.cards-button button:hover {
  background-color: #3566cc;
}
