html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.site-header {
  position: absolute;
  top: 0;
  right: 300px;
  padding: 20px 0;
  z-index: 10;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.site-header nav {
  display: flex;
  gap: 40px;
}

.site-header nav a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  transition: 0.1s;
}

.site-header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: 0.2s;
}

.site-header nav a:hover::after {
  width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../images/people.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  position: relative;
  text-align: center;
  color: #fff;
}

.hero-subtitle {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 400;
}

.hero-content h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: #4985ff;
  color: #fff;
  border-radius: 22px;
  font-size: 18px;
  text-decoration: none;
  transition: 0.25s;
}

.btn:hover {
  background: #3566cc;
}

.mob-app {
  text-align: center;
}
.main-text {
  color: #323232;
  text-align: center;
  padding: 30px;
}

.small-text {
  color: #999999;
}

.cards-section {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: 100px auto 0;
}

.item {
  display: flex;
  align-items: center;
  width: 30%;
}

.icon-circle {
  position: relative;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  border: 2px solid #4985ff;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 20px;
  margin-top: -75px;
}

.icon-circle::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 76px;
  height: 76px;
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  box-sizing: border-box;
}

.icon-circle img {
  width: 30px;
  height: 30px;
}

.text h3 {
  margin: 0 0 8px;
}

.text p {
  margin: 0;
}

.fish {
  color: #999999;
}

.cards-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.cards-button button {
  padding: 10px 50px;
  background-color: #4985ff;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.cards-button button:hover {
  background-color: #3566cc;
}

.info-section {
  position: relative;
  background-color: #f6f6f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 60px 10% 60px 10%;
  flex-wrap: wrap;
  margin-top: 80px;
}

.section-line {
  width: 100%;
  height: 2px;
  background-color: #e0e0e0;
  margin-top: 40px;
  margin-left: 20px;
}
.info-text {
  flex: 1;
}

.info-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
  padding-left: 50px;
}

.info-text p {
  font-size: 16px;
  color: #999999;
  padding-left: 50px;
}

.read-more {
  display: inline-block;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 16px;
  color: #4985ff;
  text-decoration: none;
  border-bottom: 1px solid #4985ff;
  padding-bottom: 2px;
  transition: color 0.3s, border-bottom-width 0.3s;
}

.read-more:hover {
  color: #3566cc;
  border-bottom-width: 2px;
}

.info-image {
  flex: 1;
}

.info-image img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.info-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.small-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  margin-left: 100px;
}

.small-card {
  width: 130px;
  text-align: center;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.small-icon {
  width: 32px;
  height: 32px;
}

.small-number {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
}

.small-desc {
  margin-top: 6px;
  font-size: 12px;
  color: #999999;
  line-height: 1.3;
}

.three-images-section {
  padding: 60px 20px;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to bottom, #5f12d0 50%, #ffffff 50%);
}

.three-section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.three-top-text h2 {
  color: white;
  margin-left: 327px;
  font-size: 28px;
  margin-bottom: 8px;
  font-weight: 700;
}
.number {
  color: #4985ff;
}

.three-button {
  margin-top: 50px;
  margin-right: 325px;
  padding: 10px 45px;
  background-color: #4985ff;
  color: white;
  text-decoration: none;
  border-radius: 22px;
  font-weight: 200;
  transition: 0.3s;
}

.three-button:hover {
  background-color: #2d6bf5;
}

.three-cards-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
}

.three-card {
  text-align: left;
  width: 250px;
}

.three-card img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.three-card h3 {
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 600;
}

.three-card .desc {
  text-align: left;
  font-size: 15px;
  color: #999999;
  max-width: 220px;
}

.three-card .more {
  display: inline-block;
  text-align: left;
  color: #4985ff;
  font-weight: 200;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}

.section-line-two {
  height: 2px;
  background-color: #e0e0e0;
  margin-top: 40px;
  margin-left: 290px;
  margin-right: 290px;
}

.four-img-section {
  background-color: #f6f6f8;
  padding: 60px 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.four-section-top h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.four-section-top p {
  font-size: 16px;
  color: #999999;
  max-width: 700px;
  margin: 0 auto 40px auto;
  line-height: 1.5;
  margin-bottom: 50px;
}

.four-cards-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.four-card img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
}

.four-section-button {
  text-align: center;
  margin-top: 40px;
}

.four-section-button .btn {
  display: inline-block;
  padding: 8px 30px;
  background-color: #4985ff;
  color: #fff;
  font-size: 16px;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.four-section-button .btn:hover {
  background-color: #3566cc;
}

.video {
  position: relative;
  height: 500px;
  background-image: url("../images/peopletwo.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.video-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  color: #ffffff;
  padding: 10px 20px;
}

.video .video-content h2 {
  font-size: 35px;
  margin-bottom: 5px;
  font-weight: 600;
}

.video .video-content p {
  font-size: 15px;
  color: #ffffff;
  max-width: 600px;
  margin: 0 auto;
}

.center-img {
  display: block;
  margin: 0 auto;
  width: 850px;
  height: 380px;
  border-radius: 8px;
  position: relative;
  top: 80px;
}

.play-btn {
  position: absolute;
  left: 50%;
  top: calc(50% + 110px);
  transform: translateX(-50%);

  display: inline-flex;
  align-items: center;
  gap: 15px;

  padding: 12px 30px;
  border-radius: 50px;

  border: 1px solid #ffffff;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.play-btn:hover {
  transform: translateX(-50%) scale(1.05);
}

.play-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #4985ff;
  font-size: 20px;
  padding-left: 3px;
}

.section-line-three {
  height: 2px;
  background-color: #e0e0e0;
  margin-top: 200px;
  margin-left: 180px;
  margin-right: 180px;
}

.subscribe-section {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.subscribe-content {
  max-width: 500px;
  width: 100%;
}

.subscribe-content h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.subscribe-text {
  font-size: 17px;
  color: #999999;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.subscribe-form input[type="email"] {
  color: #999999;
  flex: 1;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px 0 0 25px;
  outline: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.subscribe-form button {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  background-color: #4985ff;
  color: #fff;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.subscribe-form button:hover {
  background-color: #3567c2;
}

.subscribe-note {
  font-size: 14px;
  color: #999999;
}

.site-footer {
  background-color: #f6f6f8;
  color: #000000;
  padding: 60px 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.footer-column {
  flex: 1 1 220px;
}

.footer-column h4 {
  font-size: 16px;
  margin-bottom: 28px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
  color: #ccc;
}

.svg-icon {
  margin-bottom: 27px;
  margin-right: 15px;
}

.contact-item span {
  color: #ccc;
}

.footer-column p,
.footer-column li,
.footer-column a {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 28px;
  list-style: none;
  text-decoration: none;
}

.footer-column a:hover {
  color: #4985ff;
}

.footer-copy {
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
  color: #999999;
}

.last-line {
  height: 2px;
  background-color: #e0e0e0;
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;
}
